dist: trusty
sudo: required

language: c

matrix:
  include:
   - os: linux
     script:
       - mkdir build; cd build; cmake ../; make; cd ..
       - python setup.py sdist
   - os: osx
     osx_image: xcode10
     before_install:
       - brew update
       - brew install gcc@6
       - export CC=gcc-6
       - export CXX=g++-6
       - export TRAVIS_COMPILER=gcc-6
       - export CC_FOR_BUILD=gcc-6
     script:
       - mkdir build; cd build; cmake ../; make; cd ..
       - python setup.py sdist
   - os: osx
     osx_image: xcode10.1
     script:
       - mkdir build; cd build; cmake ../; make; cd ..
       - python setup.py sdist
   - os: windows
     dist: 1803-containers
     python: "2.7 32-bit"
     before_install:
       - choco install miniconda3 --x86
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       # For MinGW make to work correctly sh.exe must NOT be in your path.
       - mv "/c/Program Files/Git/usr/bin/sh.exe" "/c/Program Files/Git/usr/bin/hidden_sh.exe"
       - ./scripts/bdist-wheel-win-gcc.bat 2.7
       - mv "/c/Program Files/Git/usr/bin/hidden_sh.exe" "/c/Program Files/Git/usr/bin/sh.exe"
       - conda create -y -n py2.7 python=2.7 pip
       - source activate py2.7
   - os: windows
     dist: 1803-containers
     python: "3.5 32-bit"
     before_install:
       - choco install miniconda3 --x86
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       - ./scripts/bdist-wheel-win-msvc.bat 3.5
       - conda create -y -n py3.5 python=3.5 pip
       - source activate py3.5
   - os: windows
     dist: 1803-containers
     python: "3.6 32-bit"
     before_install:
       - choco install miniconda3 --x86
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       - ./scripts/bdist-wheel-win-msvc.bat 3.6
       - conda create -y -n py3.6 python=3.6 pip
       - source activate py3.6
   - os: windows
     dist: 1803-containers
     python: "3.7 32-bit"
     before_install:
       - choco install miniconda3 --x86
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       - ./scripts/bdist-wheel-win-msvc.bat 3.7
       - conda create -y -n py3.7 python=3.7 pip
       - source activate py3.7
   - os: windows
     dist: 1803-containers
     python: "2.7 64-bit"
     before_install:
       - choco install miniconda3
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       # For MinGW make to work correctly sh.exe must NOT be in your path.
       - mv "/c/Program Files/Git/usr/bin/sh.exe" "/c/Program Files/Git/usr/bin/hidden_sh.exe"
       - ./scripts/bdist-wheel-win-gcc.bat 2.7
       - mv "/c/Program Files/Git/usr/bin/hidden_sh.exe" "/c/Program Files/Git/usr/bin/sh.exe"
       - conda create -y -n py2.7 python=2.7 pip
       - source activate py2.7
   - os: windows
     dist: 1803-containers
     python: "3.5 64-bit"
     before_install:
       - choco install miniconda3
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       - ./scripts/bdist-wheel-win-msvc.bat 3.5
       - conda create -y -n py3.5 python=3.5 pip
       - source activate py3.5
   - os: windows
     dist: 1803-containers
     python: "3.6 64-bit"
     before_install:
       - choco install miniconda3
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       - ./scripts/bdist-wheel-win-msvc.bat 3.6
       - conda create -y -n py3.6 python=3.6 pip
       - source activate py3.6
   - os: windows
     dist: 1803-containers
     python: "3.7 64-bit"
     before_install:
       - choco install miniconda3
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       - ./scripts/bdist-wheel-win-msvc.bat 3.7
       - conda create -y -n py3.7 python=3.7 pip
       - source activate py3.7

before_script:
 - git submodule update --init

after_script:
 - cd dist; pip install --user libsettings-*; cd ..
 - pip install --user sbp
 - python -c "from libsettings import Settings" || exit 1

git:
  depth: 1
  submodules: false # Don't do recursive init

cache:
  apt: true
  pip: true

branches:
  only:
    - master
      # Any tag starting with a version string: vX.Y.Z(-blahblahblah).
    - /^v\d+.\d+.\d+(-\S+)?$/
