dist: trusty
sudo: required

language: c

matrix:
  include:
   - os: linux
     script:
       - git submodule update --init
       - mkdir build; cd build; cmake ../; make; cd ..
   - os: osx
     osx_image: xcode10
     before_install:
       - brew update
       - brew install gcc@6
       - export CC=gcc-6
       - export CXX=g++-6
       - export TRAVIS_COMPILER=gcc-6
       - export CC_FOR_BUILD=gcc-6
     script:
       - git submodule update --init
       - mkdir build; cd build; cmake ../; make; cd ..
   - os: osx
     osx_image: xcode10.1
     script:
       - git submodule update --init
       - mkdir build; cd build; cmake ../; make; cd ..
   - os: windows
     dist: 1803-containers
     python: "2.7 32-bit"
     before_install:
       - choco install miniconda3 --x86
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       - git submodule update --init
       # For MinGW make to work correctly sh.exe must NOT be in your path.
       - mv "/c/Program Files/Git/usr/bin/sh.exe" "/c/Program Files/Git/usr/bin/hidden_sh.exe"
       - ./bdist-wheel-win-gcc.bat 2.7
   - os: windows
     dist: 1803-containers
     python: "3.5 32-bit"
     before_install:
       - choco install miniconda3 --x86
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       - git submodule update --init
       - ./bdist-wheel-win-msvc.bat 3.5
   - os: windows
     dist: 1803-containers
     python: "3.6 32-bit"
     before_install:
       - choco install miniconda3 --x86
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       - git submodule update --init
       - ./bdist-wheel-win-msvc.bat 3.6
   - os: windows
     dist: 1803-containers
     python: "3.7 32-bit"
     before_install:
       - choco install miniconda3 --x86
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       - git submodule update --init
       - ./bdist-wheel-win-msvc.bat 3.7
   - os: windows
     dist: 1803-containers
     python: "2.7 64-bit"
     before_install:
       - choco install miniconda3
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       - git submodule update --init
       # For MinGW make to work correctly sh.exe must NOT be in your path.
       - mv "/c/Program Files/Git/usr/bin/sh.exe" "/c/Program Files/Git/usr/bin/hidden_sh.exe"
       - ./bdist-wheel-win-gcc.bat 2.7
   - os: windows
     dist: 1803-containers
     python: "3.5 64-bit"
     before_install:
       - choco install miniconda3
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       - git submodule update --init
       - ./bdist-wheel-win-msvc.bat 3.5
   - os: windows
     dist: 1803-containers
     python: "3.6 64-bit"
     before_install:
       - choco install miniconda3
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       - git submodule update --init
       - ./bdist-wheel-win-msvc.bat 3.6
   - os: windows
     dist: 1803-containers
     python: "3.7 64-bit"
     before_install:
       - choco install miniconda3
       - export PATH="/c/Tools/miniconda3:/c/Tools/miniconda3/Library/mingw-w64/bin:/c/Tools/miniconda3/Library/usr/bin:/c/Tools/miniconda3/Library/bin:/c/Tools/miniconda3/Scripts:/c/Tools/miniconda3/bin:/c/Tools/miniconda3/condabin:$PATH"
       - conda info -s
       - conda update --yes conda
     script:
       - git submodule update --init
       - ./bdist-wheel-win-msvc.bat 3.7

git:
  depth: 1
  submodules: false # Don't do recursive init

cache:
  apt: true
  pip: true

branches:
  only:
    - /.*/
