dist: trusty
sudo: required

language: c

matrix:
  include:
   - os: linux
     script:
       - ./scripts/sdist-unix.sh
       - ls -la ./build/src/libsettings.so || exit 1


   - os: osx
     osx_image: xcode10
     before_install:
       - brew update
       - brew install gcc@6
       - export CC=gcc-6
       - export CXX=g++-6
       - export TRAVIS_COMPILER=gcc-6
       - export CC_FOR_BUILD=gcc-6
     script:
       - ./scripts/sdist-unix.sh
       - ls -la ./build/src/libsettings.dylib || exit 1


   - os: osx
     osx_image: xcode10.1
     script:
       - ./scripts/sdist-unix.sh
       - ls -la ./build/src/libsettings.dylib || exit 1


   - os: windows
     dist: 1803-containers
     python: "2.7 32-bit"
     before_install:
       - source ./scripts/install-conda.sh --x86
     script:
       - source ./scripts/bdist-wheel-win-gcc.sh 2.7
       - ls -la ./build/src/libsettings.dll || exit 1


   - os: windows
     dist: 1803-containers
     python: "3.5 32-bit"
     before_install:
       - source ./scripts/install-conda.sh --x86
     script:
       - source ./scripts/bdist-wheel-win-msvc.sh 3.5
       - ls -la ./build/src/Release/settings.dll || exit 1


   - os: windows
     dist: 1803-containers
     python: "3.6 32-bit"
     before_install:
       - source ./scripts/install-conda.sh --x86
     script:
       - source ./scripts/bdist-wheel-win-msvc.sh 3.6
       - ls -la ./build/src/Release/settings.dll || exit 1


   - os: windows
     dist: 1803-containers
     python: "3.7 32-bit"
     before_install:
       - source ./scripts/install-conda.sh --x86
     script:
       - source ./scripts/bdist-wheel-win-msvc.sh 3.7
       - ls -la ./build/src/Release/settings.dll || exit 1


   - os: windows
     dist: 1803-containers
     python: "2.7 64-bit"
     before_install:
       - source ./scripts/install-conda.sh
     script:
       - source ./scripts/bdist-wheel-win-gcc.sh 2.7
       - ls -la ./build/src/libsettings.dll || exit 1


   - os: windows
     dist: 1803-containers
     python: "3.5 64-bit"
     before_install:
       - source ./scripts/install-conda.sh
     script:
       source ./scripts/bdist-wheel-win-msvc.sh 3.5
       - ls -la ./build/src/Release/settings.dll || exit 1


   - os: windows
     dist: 1803-containers
     python: "3.6 64-bit"
     before_install:
       - source ./scripts/install-conda.sh
     script:
       - source ./scripts/bdist-wheel-win-msvc.sh 3.6
       - ls -la ./build/src/Release/settings.dll || exit 1


   - os: windows
     dist: 1803-containers
     python: "3.7 64-bit"
     before_install:
       - source ./scripts/install-conda.sh
     script:
       - source ./scripts/bdist-wheel-win-msvc.sh 3.7
       - ls -la ./build/src/Release/settings.dll || exit 1

before_script:
 - git submodule update --init

after_success:
 - cd dist; pip install --user libsettings-*; cd ..
 - pip install --user sbp
 - python -c "from libsettings import Settings" || exit 1

git:
  depth: 1
  submodules: false # Don't do recursive init

cache:
  apt: true
  pip: true

branches:
  only:
    - master
      # Any tag starting with a version string: vX.Y.Z(-blahblahblah).
    - /^v\d+.\d+.\d+(-\S+)?$/
