graft include
graft libsbp/c/include/libsbp
include libswiftnav/include/swiftnav/common.h
include libswiftnav/include/swiftnav/logging.h

include setup.py
include LICENSE

include python/libsettings.c python/libsettings.pyx

global-exclude CMakeLists.txt

exclude .*
