graft include
graft libsbp/c/include/libsbp

include setup.py
include LICENSE

prune python

include python/libsettings.c python/libsettings.pyx

global-exclude CMakeLists.txt

exclude .*

prune cmake
prune tests
