name: Rust

on:
  push:
    branches:
      - "main"
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  pull_request:

jobs:
  lint:
    name: Format and lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - uses: actions-rs/cargo@v1
        name: Format Check
        with:
          command: fmt
          args: -- --check

      - uses: actions-rs/cargo@v1
        name: Clippy
        with:
          command: clippy
          args: --all-features -- -D warnings

  test:
    name: Tests
    strategy:
      matrix:
        include:
          - os: ubuntu-18.04
            binary_target: x86_64-unknown-linux-musl
          - os: ubuntu-18.04
            binary_target: x86_64-unknown-linux-gnu
          - os: macos-10.15
            binary_target: x86_64-apple-darwin
          - os: windows-2019
            binary_target: x86_64-pc-windows-msvc
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install rust ${{ matrix.binary_target }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable-${{ matrix.binary_target }}
          profile: minimal

      - name: Run tests (Windows)
        env:
          LIBCLANG_PATH: "C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/VC/Tools/Llvm/x64/bin"
        if: matrix.os == 'windows-2019'
        run: cargo test

      - name: Run tests
        if: matrix.os != 'windows-2019'
        run: cargo test
